@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Playfair";
  font-weight: 600;
  src: url(../assets/fonts/PlayfairDisplay-SemiBold.ttf);
}
